* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;

    padding: 0;
    margin: 0;
    border: 0;
}

window#waybar {
    background-color: rgba(26, 27, 38, 1);
    /* background-color: transparent; */
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    border: 4px solid #59687c;
    color: #c0caf5;
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px #ffffff; */
}

/* you can set a style on hover for any module like this */
/* #pulseaudio:hover { */
/*     background-color: #a37800; */
/* } */

/* .modules-left { */
/*     margin-top: 6px; */
/* } */
/**/
/* .modules-right { */
/*     margin-bottom: 6px; */
/* } */

#workspaces {
    margin: 4px 0;
    padding: 0;
}

#workspaces button {
    margin: 0;
    padding: 4px 0;
    background-color: transparent;
    color: #c0caf5;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, #workspaces button.active {
    background-color: #59687c;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #59687c;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#custom-arch,
#custom-power,
#idle_inhibitor,
#bluetooth,
#power-profiles-daemon {
    /* padding: 0 5px; */
    /* justify-content: center; */
    /* margin: 0 auto; */
    padding: 4px 0;
    color: #c0caf5;
}

#custom-arch {
    padding-top: 8px;
    padding-right: 4px;
}
#idle_inhibitor {
    padding-right: 8px;
}
#mpris {
    padding-top: 4px;
}
#battery {
    padding: 8px 0;
}
#network {
    padding-left: 4px;
}
#pulseaudio {
    padding-left: 4px;
}
#custom-power {
    padding-right: 4px;
    padding-bottom: 10px;
}

/* #clock { */
    /* letter-spacing: 10px; */
/* } */


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    /* background-color: #f53c3c; */
    /* color: #c0caf5; */
    color: #f53c3c;
    /* animation-name: blink; */
    /* animation-duration: 0.5s; */
    /* animation-timing-function: steps(12); */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}
