/* colors defined at top for easy configuring */
@define-color color-orange #D65D0E;
@define-color color-aqua #689D6A;
@define-color color-green #98971A;
@define-color color-white #EBDBB2;

@define-color background #282828;
@define-color second-background #504945;
@define-color text #EBDBB2;

@define-color borders #98971A;
@define-color focused #D08B57;
@define-color focused2 #EBDBB2;
@define-color color1 #D65D0E;
@define-color color2 #8D7AAE;
@define-color color3 #98971A;
@define-color urgent #B05A5A;

/* font declared */
* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 8px;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 0;
}

/* idk what all this does */
window#waybar {
  background-color: transparent;
  border-bottom: 0;
  color: @text;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* configuring the modules */
.modules-left {
  min-width: 150px;
  margin: 0 0 0 4px;
  padding: 0 0 0 0;
  background-color: @background;
  border: 2px solid @borders;
  border-radius: 8px;
}

.modules-center {
  margin: 0 0 0 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  border: 2px solid @borders;
  border-radius: 8px;
}

.modules-right {
  margin: 0 4px 0 0;
  padding: 0 10px 0 10px;
  background-color: @background;
  border: 2px solid @borders;
  border-radius: 8px;
}


/* whats this?? */
button {
  border: none;
}

/* left island */

/* menu pannel */
#custom-arch,
#custom-powerprofile,
#custom-themeswitcher {
  padding-right: 10px;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 8px;
}

#custom-arch:hover {
  color: @color1;
}

#custom-powerprofile:hover {
  color: @color1
}

#custom-themeswitcher:hover {
  color: @color1;
}

/* workspace pannel */
#workspaces button {
  min-width: 0;
  padding: 0 8px 0 8px;
  background-color: transparent;
  color: @;
  border-radius: 12px;
}

#workspaces button:hover {
  background-color: @color-green;
}

#workspaces button.active {
  color: @background;
  background-color: @color-green;
}

#workspaces button.urgent {
  background-color: @urgent;
}

/* no idea what this does */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

/* media player */
#custom-media,
#mpris {
  margin: 0 0 0 0 ;
  padding: 0 10px;
  background-color: @background;
  color: @text;
  border-radius: 8px
}

/* #mpris.playing { */
/*   border-radius: 8px; */
/* } */

#custom-media:hover {
    color: @color1;
}

/* center module  */
#window {
  padding: 0 5px;
}

/* Right Island */

/* module general styles */
#clock,
#battery,
#cpu,
#memory,
#custom-clipboard,
#custom-bluetooth,
#network {
  padding: 0 10px;
}

#clock:hover,
#battery:hover,
#custom-cpu:hover,
#custom-clipboard:hover,
#custom-bluetooth:hover,
#network:hover,
#idle_inhibitor:hover,
#custom-swaync:hover,
#backlight:hover,
#wireplumber:hover {
  color: @color1;
}

#idle_inhibitor {
  padding: 0 10px 0 0;
}

#custom-powerprofile {
  padding: 0 8px 0 4px;
}

/* Remaining Modules */
#backlight,
#wireplumber {
  padding: 0 5px;
}

#wireplumber.muted {
  background-color: @color2;
}

#custom-swaync {
  padding: 0 10px 0 5px;
  font-size: 16px;
  /* same scale as other icons */
  color: @text;
}

#battery.charging,
#battery.plugged {
  /* background-color: @focused2 ; */
  /* color: @background; */
}

#battery.critical:not(.charging) {
  border-radius: 12px; 
  background-color: @urgent;
  color: @text;
  animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
  to {
    background-color: @second-background;
    color: @text;
  }
}
