/* --- Global Styles --- */
* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  min-height: 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

/* --- Waybar Container --- */
#waybar {
  background: transparent;
  color: #ccd6f4;
  margin: 0px;
  font-weight: 500;
}

/* --- Left Modules --- */
#workspaces,
#custom-uptime,
#mpris {
  background-color: rgba(26, 27, 38, 0.5);
  padding: 0.3rem 0.7rem;
  margin: 0px 0 10px 0;
  min-width: 0;
  border: 2px solid #b4befe;
}

#mpris.playing {
    background-color: #b4befe;
    color: #1e1e2e;
    border: none;
}

#workspaces {
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
}

#workspaces button {
  border-radius: 0;
  padding: 0.3rem 0.3em;
  background: transparent;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

#workspaces button.focused {
  color: #99d1db;
  background-color: rgba(153, 209, 219, 0.1);
}

#workspaces button.urgent {
  color: #e78284;
  background-color: rgba(231, 130, 132, 0.1);
}

#workspaces button:hover {
  background: rgb(41, 42, 53);
  color: #c6d0f5;
}

/* --- Center Module --- */
#clock {
  background-color: rgba(26, 27, 38, 0.5);
  padding: 0.3rem 3rem;
  letter-spacing: 3rem;
  margin: 0px 0px 10px 0;
  border: 2px solid #b4befe;
  min-width: 0;
}

#clock:hover {
  background-color: rgba(153, 209, 219, 0.1);
}

/* --- Right Modules --- */
#cpu,
#memory,
#custom-power,
#idle_inhibitor,
#bluetooth,
#pulseaudio,
#backlight,
#network,
#battery {
  border-top: 2px solid #b4befe;
  border-bottom: 2px solid #b4befe;
  background-color: rgba(26, 27, 38, 0.5);
  padding: 0.3rem 0.7rem;
  margin: 0 0 10px 0;
  border-radius: 0;
  min-width: 0;
}

/* #cpu { */
/*     border-left: 2px solid #b4befe; */
/* }  */
#cpu,
#memory {
    background-color: #b4befe;
    color: #1e1e2e;
    border: none;
}

#custom-power {
    border-right: 2px solid #b4befe;
} 

#cpu:hover,
#memory:hover,
#custom-power:hover,
#idle_inhibitor:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#battery:hover {
  background-color: rgba(153, 209, 219, 0.1);
}

#bluetooth {
  margin-left: 0px;
}

/* --- Colors --- */
/* #cpu { */
/*   color: #c6d0f5; */
/* } */
#clock {
  /* color: #99d1db; */
  font-weight: 900;
}
/* #pulseaudio { */
/*   color: #c6d0f5; */
/* } */
/* #backlight { */
/*   color: #c6d0f5; */
/* } */
/* #network { */
/*   color: #c6d0f5; */
/* } */
/* #network.disconnected { */
/*   color: #e78284; */
/* } */
/* #bluetooth { */
/*   color: #888888; */
/*   font-size: 16px; */
/* } */
/* #bluetooth.on { */
/*   color: #2196f3; */
/* } */
/* #bluetooth.connected { */
/*   color: #99d1db; */
/* } */
/* #battery { */
/*   color: #99d1db; */
/* } */
#battery.charging {
  color: #a6d189;
}
#battery.warning:not(.charging) {
  color: #e78284;
}

/* --- Tooltip Styles --- */
tooltip {
  background-color: rgba(26, 27, 38, 0.5);
  color: #dddddd;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}
